/* 一些前置格式 */
* {
    margin: 0;
    padding: 0;
    /* 內减模式 */
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }
body{
   /* width: 100%;
    margin: 0 auto;*/
    width: 100%;
    min-width: 1200px;
}

/*头部*/
.header{
    border-bottom: 1px solid #eaeaea;
    height: 90px;
}
/*导航*/
.nav{
    float: left;
    height: 32px;
}
.nav li{
    float: left;
    margin-left: 30px;
    margin-top: 32px;
    
}
.nav li a{
    float: left;
    margin: 0 60px;
    padding: 3px 3px;
    font-size: 17px;
}
.nav li .choose{
    border-bottom: 3px solid #00c250;
    color: #00c250;
}
.nav li .nchoose{
    color: black;
}
.nav li .nchoose:hover{
    color: #00c250;
}
/*主体第一部分*/
.content01{
    height: 530px;
    background-color: aquamarine;
}
.content01 .box{
    float: right;
    position: relative;
    margin-top: 100px;
    margin-right: 120px;
    height: 330px;
    width: 330px;
    background-color:white;

}
.content01 .box h2{
    position:absolute;
    left:50%;
    transform: translate(-50%);
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}
.content01 .box img{
    float: left;
    margin-top:50px ;
    margin-left: 50px;
    height: 230px;
    width: 230px;
}
/*主体第二部分*/
.content02{
    width: 1200px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
}
.content02 h2{
    margin-top: 100px;
    display: inline-block;
    font-size: 30px;
}
.content02 .more{
    float: right;
    margin-top: 120px;
    font-size: 13px;
}
.content02 .more a{
    color: #404343;
}
.content02 .more a:hover{
    color: #00c250;
}
.content02 li{
    float: left;
    margin-top: 50px;
    margin-right: 200px;
    height: 300px;
    width: 250px;
    border-radius: 5%;
    border:2px solid #eee;box-shadow: 0 0 5px rgba(0,0,0,.1); 

}
.content02 li:nth-child(3)
{
    margin-right: 0px;
}
.content02 li img{
    margin-top:50px ;
    margin-bottom: 25px;
    height: 130px;
    width: 130px;
}
.content02 li div{
    font-size: 20px;
    font-weight: 700;
}
/*主体第三部分*/
.content03{
    width: 1200px;
    margin: 0 auto;
    height: 600px;
    text-align: center;
}
.content03 h2{
    margin-top: 100px;
    display: inline-block;
    font-size: 30px;
}
.content03 .more{
    float: right;
    margin-top: 120px;
    font-size: 13px;
}
.content03 .more a{
    color: #404343;
}
.content03 .more a:hover{
    color: #00c250;
}
.content03 li{
    float: left;
    margin-top: 50px;
    margin-right: 200px;
    height: 300px;
    width: 250px;
    border-radius: 5%;
    border:2px solid #eee;box-shadow: 0 0 5px rgba(0,0,0,.1); 

}
.content03 li:nth-child(3)
{
    margin-right: 0px;
}
.content03 li img{
    margin-top:50px ;
    margin-bottom: 25px;
    height: 90px;
    width: 90px;
}
.content03 li .div1{
    font-size: 20px;
    font-weight: 700;
}
.content03 li .div2{
    margin-top: 25px;
    color: #9d9d9d;
}
/*底部*/
.footer{
    height: 350px;
   background-color: #404343;
}
.footer .left{
    float: left;
    margin-left: 250px;
}
.footer .left .left01{
    float: left;
    margin-right: 90px;
}
.footer .left .left01 dl{
    margin-top: 78px;
    margin-bottom: 36px;
    color: #ffffff;
}
.footer .left .left01 dd{
    margin-bottom: 25px;
}
.footer .left .left01 a{
    color: #9d9d9d;
}
.footer .left .left01 a:hover{
    color: #00c250;
}
.footer .right .ph{
    float: right;
    margin-top: 80px;
    padding-left:100px ;
    margin-right: 100px;
}
.footer .right .ph img{
    width: 150px;
    height: 150px;
}
